In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

23/06/06 19:35:11 WARN Utils: Your hostname, Ayokunles-MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 192.168.2.125 instead (on interface en0)
23/06/06 19:35:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/06 19:35:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/06 19:35:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/06/06 19:35:12 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
from pyspark import SparkFiles

In [4]:
options = {
    "header": "true",                    
    "ignoreLeadingWhiteSpace": "true"     
}

23/06/06 19:35:25 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
df = spark.read \
    .option("header", options["header"]) \
    .option("ignoreLeadingWhiteSpace", options["ignoreLeadingWhiteSpace"]) \
    .csv("Resources/en_climate_monthly_ON_615HMAK_1986-2015_P1M.csv")

In [7]:
df.show()

23/06/06 19:36:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|        Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-01|1986|   01|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-02|1986|   02|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-03|1986|   03|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-04|1986|   04|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-05|1986|   05|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                      0|                   null|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-06|1986|   06|              22.8|              null|              10.1|              null|          16.5|          null|              28.6|                 S|               1.9|              null|          130.4|           null|            0.0|           null|            130.4|             null|                      0|                   null|                        30|                null|                   111|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-07|1986|   07|              26.2|              null|              15.0|              null|          20.6|          null|              34.2|              null|               7.8|              null|           72.5|           null|            0.0|           null|             77.9|             null|                      0|                   null|                        31|                null|                    56|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-08|1986|   08|              24.0|              null|              11.8|              null|          17.9|          null|              28.8|              null|               4.2|              null|          230.4|           null|            0.0|           null|            230.4|             null|                      0|                   null|                        22|                null|                    61|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-09|1986|   09|              19.3|              null|               9.1|              null|          14.2|          null|              26.2|              null|               0.8|              null|          213.8|           null|            0.0|           null|            213.8|             null|                      0|                   null|                        18|                   S|                    48|                   B|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-10|1986|   10|              13.4|              null|               2.6|              null|           8.0|          null|              19.9|              null|              -5.5|              null|           54.9|           null|            0.0|           null|             54.9|             null|                      0|                   null|                        26|                   S|                    54|                   S|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-11|1986|   11|               5.4|              null|              -3.7|              null|           0.9|          null|              17.9|              null|             -10.7|              null|           21.8|           null|           18.5|           null|             40.3|             null|                      0|                   null|                        32|                null|                    54|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-12|1986|   12|               1.2|              null|              -4.7|              null|          -1.8|          null|               4.0|              null|             -17.3|              null|           48.5|           null|           35.2|           null|             83.7|             null|                      0|                      T|                        25|                null|                    63|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-01|1987|   01|              -1.4|              null|              -9.8|              null|          -5.6|          null|               5.9|              null|             -21.2|              null|            3.1|           null|           50.0|           null|             53.1|             null|                     17|                   null|                        28|                null|                    61|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-02|1987|   02|              -1.4|              null|             -12.6|              null|          -7.0|          null|               4.4|              null|             -25.7|              null|            3.7|           null|           17.2|           null|             20.9|             null|                      4|                   null|                        35|                null|                    94|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-03|1987|   03|               6.9|              null|              -4.2|              null|           1.4|          null|              17.2|              null|             -16.0|              null|           44.7|           null|           22.6|           null|             67.3|             null|                      8|                   null|                         9|                   S|                    56|                   B|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-04|1987|   04|              14.2|              null|               3.0|              null|           8.6|          null|              28.9|              null|              -9.3|              null|           36.4|           null|            6.2|           null|             42.6|             null|                      0|                   null|                        32|                null|                    74|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-05|1987|   05|              21.0|              null|               7.4|              null|          14.2|          null|              33.5|              null|              -1.6|              null|           57.4|           null|            0.0|           null|             57.4|             null|                      0|                   null|                        19|                null|                    69|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-06|1987|   06|              25.1|              null|              12.3|              null|          18.7|          null|              33.4|              null|               5.5|              null|           81.0|           null|            0.0|           null|             81.0|             null|                      0|                   null|                        28|                null|                    52|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-07|1987|   07|              27.9|              null|              16.1|              null|          22.0|          null|              34.6|              null|               9.4|              null|           90.2|           null|            0.0|           null|             90.2|             null|                      0|                   null|                        20|                null|                    59|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-08|1987|   08|              24.8|              null|              13.0|              null|          18.9|          null|              33.8|              null|               7.9|              null|           82.8|           null|            0.0|           null|             82.8|             null|                      0|                   null|                        27|                null|                   102|                   E|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [8]:
df.createOrReplaceTempView("my_table")
result = spark.sql("SELECT * FROM my_table")

In [10]:
result.show()

+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|        Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-01|1986|   01|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-02|1986|   02|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-03|1986|   03|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-04|1986|   04|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                      M|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-05|1986|   05|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                      0|                   null|                      null|                   M|                  null|                   M|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-06|1986|   06|              22.8|              null|              10.1|              null|          16.5|          null|              28.6|                 S|               1.9|              null|          130.4|           null|            0.0|           null|            130.4|             null|                      0|                   null|                        30|                null|                   111|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-07|1986|   07|              26.2|              null|              15.0|              null|          20.6|          null|              34.2|              null|               7.8|              null|           72.5|           null|            0.0|           null|             77.9|             null|                      0|                   null|                        31|                null|                    56|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-08|1986|   08|              24.0|              null|              11.8|              null|          17.9|          null|              28.8|              null|               4.2|              null|          230.4|           null|            0.0|           null|            230.4|             null|                      0|                   null|                        22|                null|                    61|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-09|1986|   09|              19.3|              null|               9.1|              null|          14.2|          null|              26.2|              null|               0.8|              null|          213.8|           null|            0.0|           null|            213.8|             null|                      0|                   null|                        18|                   S|                    48|                   B|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-10|1986|   10|              13.4|              null|               2.6|              null|           8.0|          null|              19.9|              null|              -5.5|              null|           54.9|           null|            0.0|           null|             54.9|             null|                      0|                   null|                        26|                   S|                    54|                   S|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-11|1986|   11|               5.4|              null|              -3.7|              null|           0.9|          null|              17.9|              null|             -10.7|              null|           21.8|           null|           18.5|           null|             40.3|             null|                      0|                   null|                        32|                null|                    54|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1986-12|1986|   12|               1.2|              null|              -4.7|              null|          -1.8|          null|               4.0|              null|             -17.3|              null|           48.5|           null|           35.2|           null|             83.7|             null|                      0|                      T|                        25|                null|                    63|                null|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-01|1987|   01|              -1.4|              null|              -9.8|              null|          -5.6|          null|               5.9|              null|             -21.2|              null|            3.1|           null|           50.0|           null|             53.1|             null|                     17|                   null|                        28|                null|                    61|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-02|1987|   02|              -1.4|              null|             -12.6|              null|          -7.0|          null|               4.4|              null|             -25.7|              null|            3.7|           null|           17.2|           null|             20.9|             null|                      4|                   null|                        35|                null|                    94|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-03|1987|   03|               6.9|              null|              -4.2|              null|           1.4|          null|              17.2|              null|             -16.0|              null|           44.7|           null|           22.6|           null|             67.3|             null|                      8|                   null|                         9|                   S|                    56|                   B|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-04|1987|   04|              14.2|              null|               3.0|              null|           8.6|          null|              28.9|              null|              -9.3|              null|           36.4|           null|            6.2|           null|             42.6|             null|                      0|                   null|                        32|                null|                    74|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-05|1987|   05|              21.0|              null|               7.4|              null|          14.2|          null|              33.5|              null|              -1.6|              null|           57.4|           null|            0.0|           null|             57.4|             null|                      0|                   null|                        19|                null|                    69|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-06|1987|   06|              25.1|              null|              12.3|              null|          18.7|          null|              33.4|              null|               5.5|              null|           81.0|           null|            0.0|           null|             81.0|             null|                      0|                   null|                        28|                null|                    52|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-07|1987|   07|              27.9|              null|              16.1|              null|          22.0|          null|              34.6|              null|               9.4|              null|           90.2|           null|            0.0|           null|             90.2|             null|                      0|                   null|                        20|                null|                    59|                   E|
|       -79.37|       43.86|TORONTO BUTTONVIL...|   615HMAK|  1987-08|1987|   08|              24.8|              null|              13.0|              null|          18.9|          null|              33.8|              null|               7.9|              null|           82.8|           null|            0.0|           null|             82.8|             null|                      0|                   null|                        27|                null|                   102|                   E|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [11]:
df.columns

['Longitude (x)',
 'Latitude (y)',
 'Station Name',
 'Climate ID',
 'Date/Time',
 'Year',
 'Month',
 'Mean Max Temp (°C)',
 'Mean Max Temp Flag',
 'Mean Min Temp (°C)',
 'Mean Min Temp Flag',
 'Mean Temp (°C)',
 'Mean Temp Flag',
 'Extr Max Temp (°C)',
 'Extr Max Temp Flag',
 'Extr Min Temp (°C)',
 'Extr Min Temp Flag',
 'Total Rain (mm)',
 'Total Rain Flag',
 'Total Snow (cm)',
 'Total Snow Flag',
 'Total Precip (mm)',
 'Total Precip Flag',
 'Snow Grnd Last Day (cm)',
 'Snow Grnd Last Day Flag',
 "Dir of Max Gust (10's deg)",
 'Dir of Max Gust Flag',
 'Spd of Max Gust (km/h)',
 'Spd of Max Gust Flag']

In [12]:
df.dtypes

[('Longitude (x)', 'string'),
 ('Latitude (y)', 'string'),
 ('Station Name', 'string'),
 ('Climate ID', 'string'),
 ('Date/Time', 'string'),
 ('Year', 'string'),
 ('Month', 'string'),
 ('Mean Max Temp (°C)', 'string'),
 ('Mean Max Temp Flag', 'string'),
 ('Mean Min Temp (°C)', 'string'),
 ('Mean Min Temp Flag', 'string'),
 ('Mean Temp (°C)', 'string'),
 ('Mean Temp Flag', 'string'),
 ('Extr Max Temp (°C)', 'string'),
 ('Extr Max Temp Flag', 'string'),
 ('Extr Min Temp (°C)', 'string'),
 ('Extr Min Temp Flag', 'string'),
 ('Total Rain (mm)', 'string'),
 ('Total Rain Flag', 'string'),
 ('Total Snow (cm)', 'string'),
 ('Total Snow Flag', 'string'),
 ('Total Precip (mm)', 'string'),
 ('Total Precip Flag', 'string'),
 ('Snow Grnd Last Day (cm)', 'string'),
 ('Snow Grnd Last Day Flag', 'string'),
 ("Dir of Max Gust (10's deg)", 'string'),
 ('Dir of Max Gust Flag', 'string'),
 ('Spd of Max Gust (km/h)', 'string'),
 ('Spd of Max Gust Flag', 'string')]

In [13]:
import pandas as pd
pandas_df = df.toPandas()

In [14]:
pandas_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-01,1986,01,None,M,None,...,None,M,None,M,None,M,None,M,None,M
1,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-02,1986,02,None,M,None,...,None,M,None,M,None,M,None,M,None,M
2,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-03,1986,03,None,M,None,...,None,M,None,M,None,M,None,M,None,M
3,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-04,1986,04,None,M,None,...,None,M,None,M,None,M,None,M,None,M
4,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,1986-05,1986,05,None,M,None,...,None,M,None,M,0,None,None,M,None,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,2015-01,2015,01,-3.0,None,-13.2,...,23.5,None,30.4,None,6,None,34,E,61,E
349,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,2015-02,2015,02,-8.2,None,-18.4,...,46.7,None,36.8,None,23,None,32,B,56,B
350,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,2015-03,2015,03,2.6,None,-7.7,...,4.2,None,16.5,None,0,None,32,E,61,E
351,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,2015-04,2015,04,12.9,None,1.5,...,2.2,None,80.3,None,0,None,23,I,67,I
352,-79.37,43.86,TORONTO BUTTONVILLE A,615HMAK,2015-05,2015,05,22.1,I,9.0,...,0.0,I,23.2,I,None,None,26,I,54,I

In [15]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                         object
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [16]:
pandas_df['Month'] = pandas_df['Month'].astype(int)

In [17]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                          int64
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [18]:
new_temp_columns = ['Year','Month','Mean Temp (°C)', 'Date/Time']

# Display df with columns
df_temp = pandas_df[new_temp_columns]


df_temp

     Year  Month Mean Temp (°C) Date/Time
0    1986      1           None   1986-01
1    1986      2           None   1986-02
2    1986      3           None   1986-03
3    1986      4           None   1986-04
4    1986      5           None   1986-05
..    ...    ...            ...       ...
348  2015      1           -8.1   2015-01
349  2015      2          -13.3   2015-02
350  2015      3           -2.5   2015-03
351  2015      4            7.2   2015-04
352  2015      5           15.6   2015-05

[353 rows x 4 columns]

In [19]:
# Create a dictory that maps that month names to the month numbers 
month_map = {1: 'JAN',
             2: 'FEB',
             3: 'MAR',
             4: 'APR',
             5: 'MAY',
             6: 'JUN',
             7: 'JUL',
             8: 'AUG',
             9: 'SEP',
             10:'OCT',
             11:'NOV',
             12:'DEC'}

df_temp['Month'] = df_temp['Month'].map(month_map)

df_temp

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7435/1768052942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Month'] = df_temp['Month'].map(month_map)

     Year Month Mean Temp (°C) Date/Time
0    1986   JAN           None   1986-01
1    1986   FEB           None   1986-02
2    1986   MAR           None   1986-03
3    1986   APR           None   1986-04
4    1986   MAY           None   1986-05
..    ...   ...            ...       ...
348  2015   JAN           -8.1   2015-01
349  2015   FEB          -13.3   2015-02
350  2015   MAR           -2.5   2015-03
351  2015   APR            7.2   2015-04
352  2015   MAY           15.6   2015-05

[353 rows x 4 columns]

In [20]:
# Drop duplicated rows
df_clean_temp = df_temp.drop_duplicates()

# Drop rows with missing values
df_clean_temp = df_temp.dropna()

#Drop index 
df_clean_temp.reset_index(drop= True)

df_clean_temp

     Year Month Mean Temp (°C) Date/Time
5    1986   JUN           16.5   1986-06
6    1986   JUL           20.6   1986-07
7    1986   AUG           17.9   1986-08
8    1986   SEP           14.2   1986-09
9    1986   OCT            8.0   1986-10
..    ...   ...            ...       ...
348  2015   JAN           -8.1   2015-01
349  2015   FEB          -13.3   2015-02
350  2015   MAR           -2.5   2015-03
351  2015   APR            7.2   2015-04
352  2015   MAY           15.6   2015-05

[348 rows x 4 columns]

In [21]:
#year to int 
#mean temp to float

In [22]:
df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7435/2386592659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

In [23]:
df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7435/3587410896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

In [24]:
df_clean_temp.dtypes

Year                int64
Month              object
Mean Temp (°C)    float64
Date/Time          object
dtype: object

In [25]:
df_clean_temp

     Year Month  Mean Temp (°C) Date/Time
5    1986   JUN            16.5   1986-06
6    1986   JUL            20.6   1986-07
7    1986   AUG            17.9   1986-08
8    1986   SEP            14.2   1986-09
9    1986   OCT             8.0   1986-10
..    ...   ...             ...       ...
348  2015   JAN            -8.1   2015-01
349  2015   FEB           -13.3   2015-02
350  2015   MAR            -2.5   2015-03
351  2015   APR             7.2   2015-04
352  2015   MAY            15.6   2015-05

[348 rows x 4 columns]

In [26]:
#save output 
#save output 
df_temp.to_csv("Resources/Cleaned_Buttonville.csv")