In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

23/06/06 19:44:51 WARN Utils: Your hostname, Ayokunles-MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 192.168.2.125 instead (on interface en0)
23/06/06 19:44:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/06 19:44:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/06 19:44:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/06/06 19:44:52 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/06/06 19:44:52 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/06/06 19:44:52 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
from pyspark import SparkFiles

In [4]:
options = {
    "header": "true",                    
    "ignoreLeadingWhiteSpace": "true"     
}

23/06/06 19:45:03 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [24]:
df = spark.read \
    .option("header", options["header"]) \
    .option("ignoreLeadingWhiteSpace", options["ignoreLeadingWhiteSpace"]) \
    .csv("Woodbridge_Temp_Data.csv")

In [25]:
df.show()

23/06/06 19:50:43 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jan-48|null|    1|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Feb-48|1948|    2|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Mar-48|1948|    3|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Apr-48|1948|    4|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   May-48|1948|    5|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jun-48|1948|    6|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jul-48|1948|    7|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Aug-48|1948|    8|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Sep-48|1948|    9|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Oct-48|1948|   10|              12.9|              null|               3.3|              null|           8.1|          null|              21.1|              null|                -5|              null|           47.5|           null|              0|           null|             47.5|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Nov-48|1948|   11|               9.6|              null|               2.6|              null|           6.1|          null|              18.9|              null|              -3.9|              null|             79|           null|            0.3|           null|             79.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Dec-48|1948|   12|               1.8|              null|              -5.8|              null|            -2|          null|              12.2|              null|             -21.7|              null|           27.7|           null|           30.2|           null|             57.9|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jan-49|1949|    1|               0.5|              null|              -6.9|              null|          -3.2|          null|              12.2|              null|             -17.2|              null|           44.7|           null|           29.7|           null|             74.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Feb-49|1949|    2|                 1|              null|              -8.4|              null|          -3.7|          null|              11.1|              null|             -22.8|              null|             62|           null|           31.2|           null|             93.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Mar-49|1949|    3|               2.9|              null|              -6.7|              null|          -1.9|          null|              18.9|              null|             -21.1|              null|           25.4|           null|           35.3|           null|             60.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Apr-49|1949|    4|              12.7|              null|               0.1|              null|           6.4|          null|                25|              null|              -6.1|                 S|           35.1|           null|              0|              T|             35.1|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   May-49|1949|    5|              20.9|              null|               5.2|              null|          13.1|          null|              31.7|              null|              -3.3|              null|            6.6|           null|              0|           null|              6.6|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jun-49|1949|    6|              28.5|              null|              13.6|              null|          21.1|          null|              34.4|                 S|               2.2|                 S|            4.8|           null|              0|           null|              4.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jul-49|1949|    7|              28.4|              null|              15.2|              null|          21.8|          null|              34.4|                 S|               8.9|                 S|           57.2|           null|              0|           null|             57.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Aug-49|1949|    8|              28.1|              null|              14.6|              null|          21.4|          null|              35.6|              null|              null|                 M|           78.7|           null|              0|           null|             78.7|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [26]:
df.createOrReplaceTempView("my_table")
result = spark.sql("SELECT * FROM my_table")

In [27]:
result.show()

+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jan-48|null|    1|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Feb-48|1948|    2|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Mar-48|1948|    3|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Apr-48|1948|    4|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   May-48|1948|    5|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jun-48|1948|    6|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jul-48|1948|    7|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Aug-48|1948|    8|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Sep-48|1948|    9|              null|                 M|              null|                 M|          null|             M|              null|                 M|              null|                 M|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Oct-48|1948|   10|              12.9|              null|               3.3|              null|           8.1|          null|              21.1|              null|                -5|              null|           47.5|           null|              0|           null|             47.5|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Nov-48|1948|   11|               9.6|              null|               2.6|              null|           6.1|          null|              18.9|              null|              -3.9|              null|             79|           null|            0.3|           null|             79.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Dec-48|1948|   12|               1.8|              null|              -5.8|              null|            -2|          null|              12.2|              null|             -21.7|              null|           27.7|           null|           30.2|           null|             57.9|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jan-49|1949|    1|               0.5|              null|              -6.9|              null|          -3.2|          null|              12.2|              null|             -17.2|              null|           44.7|           null|           29.7|           null|             74.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Feb-49|1949|    2|                 1|              null|              -8.4|              null|          -3.7|          null|              11.1|              null|             -22.8|              null|             62|           null|           31.2|           null|             93.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Mar-49|1949|    3|               2.9|              null|              -6.7|              null|          -1.9|          null|              18.9|              null|             -21.1|              null|           25.4|           null|           35.3|           null|             60.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Apr-49|1949|    4|              12.7|              null|               0.1|              null|           6.4|          null|                25|              null|              -6.1|                 S|           35.1|           null|              0|              T|             35.1|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   May-49|1949|    5|              20.9|              null|               5.2|              null|          13.1|          null|              31.7|              null|              -3.3|              null|            6.6|           null|              0|           null|              6.6|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jun-49|1949|    6|              28.5|              null|              13.6|              null|          21.1|          null|              34.4|                 S|               2.2|                 S|            4.8|           null|              0|           null|              4.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Jul-49|1949|    7|              28.4|              null|              15.2|              null|          21.8|          null|              34.4|                 S|               8.9|                 S|           57.2|           null|              0|           null|             57.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|        -79.6|       43.78|  WOODBRIDGE|   6159575|   Aug-49|1949|    8|              28.1|              null|              14.6|              null|          21.4|          null|              35.6|              null|              null|                 M|           78.7|           null|              0|           null|             78.7|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [28]:
df.columns

['Longitude (x)',
 'Latitude (y)',
 'Station Name',
 'Climate ID',
 'Date/Time',
 'Year',
 'Month',
 'Mean Max Temp (°C)',
 'Mean Max Temp Flag',
 'Mean Min Temp (°C)',
 'Mean Min Temp Flag',
 'Mean Temp (°C)',
 'Mean Temp Flag',
 'Extr Max Temp (°C)',
 'Extr Max Temp Flag',
 'Extr Min Temp (°C)',
 'Extr Min Temp Flag',
 'Total Rain (mm)',
 'Total Rain Flag',
 'Total Snow (cm)',
 'Total Snow Flag',
 'Total Precip (mm)',
 'Total Precip Flag',
 'Snow Grnd Last Day (cm)',
 'Snow Grnd Last Day Flag',
 "Dir of Max Gust (10's deg)",
 'Dir of Max Gust Flag',
 'Spd of Max Gust (km/h)',
 'Spd of Max Gust Flag']

In [29]:
df.dtypes

[('Longitude (x)', 'string'),
 ('Latitude (y)', 'string'),
 ('Station Name', 'string'),
 ('Climate ID', 'string'),
 ('Date/Time', 'string'),
 ('Year', 'string'),
 ('Month', 'string'),
 ('Mean Max Temp (°C)', 'string'),
 ('Mean Max Temp Flag', 'string'),
 ('Mean Min Temp (°C)', 'string'),
 ('Mean Min Temp Flag', 'string'),
 ('Mean Temp (°C)', 'string'),
 ('Mean Temp Flag', 'string'),
 ('Extr Max Temp (°C)', 'string'),
 ('Extr Max Temp Flag', 'string'),
 ('Extr Min Temp (°C)', 'string'),
 ('Extr Min Temp Flag', 'string'),
 ('Total Rain (mm)', 'string'),
 ('Total Rain Flag', 'string'),
 ('Total Snow (cm)', 'string'),
 ('Total Snow Flag', 'string'),
 ('Total Precip (mm)', 'string'),
 ('Total Precip Flag', 'string'),
 ('Snow Grnd Last Day (cm)', 'string'),
 ('Snow Grnd Last Day Flag', 'string'),
 ("Dir of Max Gust (10's deg)", 'string'),
 ('Dir of Max Gust Flag', 'string'),
 ('Spd of Max Gust (km/h)', 'string'),
 ('Spd of Max Gust Flag', 'string')]

In [30]:
import pandas as pd
pandas_df = df.toPandas()

In [31]:
pandas_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.6,43.78,WOODBRIDGE,6159575,Jan-48,None,1,None,M,None,...,None,M,None,M,None,None,None,None,None,None
1,-79.6,43.78,WOODBRIDGE,6159575,Feb-48,1948,2,None,M,None,...,None,M,None,M,None,None,None,None,None,None
2,-79.6,43.78,WOODBRIDGE,6159575,Mar-48,1948,3,None,M,None,...,None,M,None,M,None,None,None,None,None,None
3,-79.6,43.78,WOODBRIDGE,6159575,Apr-48,1948,4,None,M,None,...,None,M,None,M,None,None,None,None,None,None
4,-79.6,43.78,WOODBRIDGE,6159575,May-48,1948,5,None,M,None,...,None,M,None,M,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,-79.6,43.78,WOODBRIDGE,6159575,Jan-05,2005,1,-3.2,None,-11.5,...,42,E,66.5,E,None,None,None,None,None,None
685,-79.6,43.78,WOODBRIDGE,6159575,Feb-05,2005,2,0.7,None,-9.1,...,28.5,None,56.1,None,None,None,None,None,None,None
686,-79.6,43.78,WOODBRIDGE,6159575,Mar-05,2005,3,3.4,E,-6.1,...,26.5,E,34.1,E,None,None,None,None,None,None
687,-79.6,43.78,WOODBRIDGE,6159575,Apr-05,2005,4,13.4,E,2.1,...,2.7,None,90.1,None,0,None,None,None,None,None
688,-79.6,43.78,WOODBRIDGE,6159575,May-05,2005,5,16.5,I,3.5,...,0,T,4.6,None,None,M,None,None,None,None

In [32]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                         object
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [33]:
pandas_df['Month'] = pandas_df['Month'].astype(int)

In [34]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                          int64
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [35]:
new_temp_columns = ['Year','Month','Mean Temp (°C)', 'Date/Time']

# Display df with columns
df_temp = pandas_df[new_temp_columns]


df_temp

     Year  Month Mean Temp (°C) Date/Time
0    None      1           None    Jan-48
1    1948      2           None    Feb-48
2    1948      3           None    Mar-48
3    1948      4           None    Apr-48
4    1948      5           None    May-48
..    ...    ...            ...       ...
684  2005      1           -7.3    Jan-05
685  2005      2           -4.3    Feb-05
686  2005      3           -1.3    Mar-05
687  2005      4            7.8    Apr-05
688  2005      5             10    May-05

[689 rows x 4 columns]

In [36]:
# Create a dictory that maps that month names to the month numbers 
month_map = {1: 'JAN',
             2: 'FEB',
             3: 'MAR',
             4: 'APR',
             5: 'MAY',
             6: 'JUN',
             7: 'JUL',
             8: 'AUG',
             9: 'SEP',
             10:'OCT',
             11:'NOV',
             12:'DEC'}

df_temp['Month'] = df_temp['Month'].map(month_map)

df_temp

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7649/1768052942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Month'] = df_temp['Month'].map(month_map)

     Year Month Mean Temp (°C) Date/Time
0    None   JAN           None    Jan-48
1    1948   FEB           None    Feb-48
2    1948   MAR           None    Mar-48
3    1948   APR           None    Apr-48
4    1948   MAY           None    May-48
..    ...   ...            ...       ...
684  2005   JAN           -7.3    Jan-05
685  2005   FEB           -4.3    Feb-05
686  2005   MAR           -1.3    Mar-05
687  2005   APR            7.8    Apr-05
688  2005   MAY             10    May-05

[689 rows x 4 columns]

In [37]:
# Drop duplicated rows
df_clean_temp = df_temp.drop_duplicates()

# Drop rows with missing values
df_clean_temp = df_temp.dropna()

#Drop index 
df_clean_temp.reset_index(drop= True)

df_clean_temp

     Year Month Mean Temp (°C) Date/Time
9    1948   OCT            8.1    Oct-48
10   1948   NOV            6.1    Nov-48
11   1948   DEC             -2    Dec-48
12   1949   JAN           -3.2    Jan-49
13   1949   FEB           -3.7    Feb-49
..    ...   ...            ...       ...
684  2005   JAN           -7.3    Jan-05
685  2005   FEB           -4.3    Feb-05
686  2005   MAR           -1.3    Mar-05
687  2005   APR            7.8    Apr-05
688  2005   MAY             10    May-05

[660 rows x 4 columns]

In [38]:
#year to int 
#mean temp to float

In [39]:
df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7649/2386592659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

In [40]:
df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7649/3587410896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

In [41]:
df_clean_temp.dtypes

Year                int64
Month              object
Mean Temp (°C)    float64
Date/Time          object
dtype: object

In [42]:
df_clean_temp

     Year Month  Mean Temp (°C) Date/Time
9    1948   OCT             8.1    Oct-48
10   1948   NOV             6.1    Nov-48
11   1948   DEC            -2.0    Dec-48
12   1949   JAN            -3.2    Jan-49
13   1949   FEB            -3.7    Feb-49
..    ...   ...             ...       ...
684  2005   JAN            -7.3    Jan-05
685  2005   FEB            -4.3    Feb-05
686  2005   MAR            -1.3    Mar-05
687  2005   APR             7.8    Apr-05
688  2005   MAY            10.0    May-05

[660 rows x 4 columns]

In [43]:
#save output 
df_temp.to_csv("Cleaned_Woodbridge.csv")