In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkFunctions").getOrCreate()

23/06/06 19:39:03 WARN Utils: Your hostname, Ayokunles-MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 192.168.2.125 instead (on interface en0)
23/06/06 19:39:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/06 19:39:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/06 19:39:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/06/06 19:39:04 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/06/06 19:39:04 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
from pyspark import SparkFiles

In [4]:
options = {
    "header": "true",                    
    "ignoreLeadingWhiteSpace": "true"     
}

23/06/06 19:39:15 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
df = spark.read \
    .option("header", options["header"]) \
    .option("ignoreLeadingWhiteSpace", options["ignoreLeadingWhiteSpace"]) \
    .csv("Resources/TORONTO LESTER B. PEARSON.csv")

In [7]:
df.show()

23/06/06 19:39:57 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|        Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-01|1937|   01|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-02|1937|   02|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-03|1937|   03|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-04|1937|   04|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-05|1937|   05|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-06|1937|   06|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-07|1937|   07|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-08|1937|   08|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-09|1937|   09|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-10|1937|   10|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-11|1937|   11|               8.0|              null|              -1.4|              null|           3.3|          null|              null|              null|              null|              null|           33.8|           null|            0.0|              T|             33.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-12|1937|   12|               0.1|              null|              -8.8|              null|          -4.4|          null|              null|              null|              null|              null|            7.6|           null|           33.8|           null|             41.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-01|1938|   01|              -2.6|              null|             -11.7|              null|          -7.2|          null|               7.8|              null|             -27.2|              null|           13.5|           null|           26.9|           null|             40.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-02|1938|   02|               0.8|              null|              -8.2|              null|          -3.7|          null|              10.6|              null|             -22.8|              null|           63.2|           null|           13.2|           null|             76.5|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-03|1938|   03|               7.4|              null|              -4.6|              null|           1.4|          null|              24.4|              null|             -21.1|              null|           35.3|           null|            6.4|           null|             41.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-04|1938|   04|              13.6|              null|               1.6|              null|           7.6|          null|              29.4|              null|              -9.4|              null|           21.8|           null|           11.4|           null|             33.3|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-05|1938|   05|              18.8|              null|               5.4|              null|          12.1|          null|              24.4|              null|              -1.7|              null|           72.4|           null|            0.0|              T|             72.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-06|1938|   06|              24.8|              null|               9.8|              null|          17.3|          null|              31.7|                 S|               1.1|              null|           42.2|           null|            0.0|           null|             42.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-07|1938|   07|              28.9|              null|              14.6|              null|          21.8|          null|              36.1|              null|               8.3|                 S|           63.2|           null|            0.0|           null|             63.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-08|1938|   08|              29.7|              null|              15.6|              null|          22.7|          null|              34.4|                 S|               7.8|              null|           37.1|           null|            0.0|           null|             37.1|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [8]:
df.createOrReplaceTempView("my_table")
result = spark.sql("SELECT * FROM my_table")

In [9]:
result.show()

+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|Longitude (x)|Latitude (y)|        Station Name|Climate ID|Date/Time|Year|Month|Mean Max Temp (°C)|Mean Max Temp Flag|Mean Min Temp (°C)|Mean Min Temp Flag|Mean Temp (°C)|Mean Temp Flag|Extr Max Temp (°C)|Extr Max Temp Flag|Extr Min Temp (°C)|Extr Min Temp Flag|Total Rain (mm)|Total Rain Flag|Total Snow (cm)|Total Snow Flag|Total Precip (mm)|Total Precip Flag|Snow Grnd Last Day (cm)|Snow Grnd Last Day Flag|Dir of Max Gust (10's deg)|Dir of Max Gust Flag|Spd of Max Gust (km/h)|Spd of Max Gust Flag|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-01|1937|   01|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-02|1937|   02|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-03|1937|   03|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-04|1937|   04|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-05|1937|   05|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-06|1937|   06|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-07|1937|   07|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-08|1937|   08|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-09|1937|   09|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-10|1937|   10|              null|                 M|              null|                 M|          null|             M|              null|              null|              null|              null|           null|              M|           null|              M|             null|                M|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-11|1937|   11|               8.0|              null|              -1.4|              null|           3.3|          null|              null|              null|              null|              null|           33.8|           null|            0.0|              T|             33.8|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1937-12|1937|   12|               0.1|              null|              -8.8|              null|          -4.4|          null|              null|              null|              null|              null|            7.6|           null|           33.8|           null|             41.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-01|1938|   01|              -2.6|              null|             -11.7|              null|          -7.2|          null|               7.8|              null|             -27.2|              null|           13.5|           null|           26.9|           null|             40.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-02|1938|   02|               0.8|              null|              -8.2|              null|          -3.7|          null|              10.6|              null|             -22.8|              null|           63.2|           null|           13.2|           null|             76.5|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-03|1938|   03|               7.4|              null|              -4.6|              null|           1.4|          null|              24.4|              null|             -21.1|              null|           35.3|           null|            6.4|           null|             41.7|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-04|1938|   04|              13.6|              null|               1.6|              null|           7.6|          null|              29.4|              null|              -9.4|              null|           21.8|           null|           11.4|           null|             33.3|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-05|1938|   05|              18.8|              null|               5.4|              null|          12.1|          null|              24.4|              null|              -1.7|              null|           72.4|           null|            0.0|              T|             72.4|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-06|1938|   06|              24.8|              null|               9.8|              null|          17.3|          null|              31.7|                 S|               1.1|              null|           42.2|           null|            0.0|           null|             42.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-07|1938|   07|              28.9|              null|              14.6|              null|          21.8|          null|              36.1|              null|               8.3|                 S|           63.2|           null|            0.0|           null|             63.2|             null|                   null|                   null|                      null|                null|                  null|                null|
|       -79.63|       43.68|TORONTO LESTER B....|   6158733|  1938-08|1938|   08|              29.7|              null|              15.6|              null|          22.7|          null|              34.4|                 S|               7.8|              null|           37.1|           null|            0.0|           null|             37.1|             null|                   null|                   null|                      null|                null|                  null|                null|
+-------------+------------+--------------------+----------+---------+----+-----+------------------+------------------+------------------+------------------+--------------+--------------+------------------+------------------+------------------+------------------+---------------+---------------+---------------+---------------+-----------------+-----------------+-----------------------+-----------------------+--------------------------+--------------------+----------------------+--------------------+
only showing top 20 rows

In [10]:
df.columns

['Longitude (x)',
 'Latitude (y)',
 'Station Name',
 'Climate ID',
 'Date/Time',
 'Year',
 'Month',
 'Mean Max Temp (°C)',
 'Mean Max Temp Flag',
 'Mean Min Temp (°C)',
 'Mean Min Temp Flag',
 'Mean Temp (°C)',
 'Mean Temp Flag',
 'Extr Max Temp (°C)',
 'Extr Max Temp Flag',
 'Extr Min Temp (°C)',
 'Extr Min Temp Flag',
 'Total Rain (mm)',
 'Total Rain Flag',
 'Total Snow (cm)',
 'Total Snow Flag',
 'Total Precip (mm)',
 'Total Precip Flag',
 'Snow Grnd Last Day (cm)',
 'Snow Grnd Last Day Flag',
 "Dir of Max Gust (10's deg)",
 'Dir of Max Gust Flag',
 'Spd of Max Gust (km/h)',
 'Spd of Max Gust Flag']

In [11]:
df.dtypes

[('Longitude (x)', 'string'),
 ('Latitude (y)', 'string'),
 ('Station Name', 'string'),
 ('Climate ID', 'string'),
 ('Date/Time', 'string'),
 ('Year', 'string'),
 ('Month', 'string'),
 ('Mean Max Temp (°C)', 'string'),
 ('Mean Max Temp Flag', 'string'),
 ('Mean Min Temp (°C)', 'string'),
 ('Mean Min Temp Flag', 'string'),
 ('Mean Temp (°C)', 'string'),
 ('Mean Temp Flag', 'string'),
 ('Extr Max Temp (°C)', 'string'),
 ('Extr Max Temp Flag', 'string'),
 ('Extr Min Temp (°C)', 'string'),
 ('Extr Min Temp Flag', 'string'),
 ('Total Rain (mm)', 'string'),
 ('Total Rain Flag', 'string'),
 ('Total Snow (cm)', 'string'),
 ('Total Snow Flag', 'string'),
 ('Total Precip (mm)', 'string'),
 ('Total Precip Flag', 'string'),
 ('Snow Grnd Last Day (cm)', 'string'),
 ('Snow Grnd Last Day Flag', 'string'),
 ("Dir of Max Gust (10's deg)", 'string'),
 ('Dir of Max Gust Flag', 'string'),
 ('Spd of Max Gust (km/h)', 'string'),
 ('Spd of Max Gust Flag', 'string')]

In [12]:
import pandas as pd
pandas_df = df.toPandas()

In [13]:
pandas_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,1937-01,1937,01,None,M,None,...,None,M,None,M,None,None,None,None,None,None
1,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,1937-02,1937,02,None,M,None,...,None,M,None,M,None,None,None,None,None,None
2,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,1937-03,1937,03,None,M,None,...,None,M,None,M,None,None,None,None,None,None
3,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,1937-04,1937,04,None,M,None,...,None,M,None,M,None,None,None,None,None,None
4,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,1937-05,1937,05,None,M,None,...,None,M,None,M,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,2013-02,2013,02,-1.0,None,-8.1,...,65.3,None,92.0,None,14,None,25,None,67,None
914,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,2013-03,2013,03,3.9,None,-3.7,...,8.2,None,21.6,None,0,None,30,I,56,I
915,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,2013-04,2013,04,11.0,None,1.0,...,2.2,None,110.4,None,0,None,28,I,70,I
916,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,2013-05,2013,05,21.0,None,9.4,...,0.4,None,76.2,None,0,None,28,None,76,None
917,-79.63,43.68,TORONTO LESTER B. PEARSON INT'L A,6158733,2013-06,2013,06,20.6,I,12.4,...,0.0,I,62.4,I,None,None,26,I,52,I

In [14]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                         object
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [15]:
pandas_df['Month'] = pandas_df['Month'].astype(int)

In [16]:
pandas_df.dtypes

Longitude (x)                 object
Latitude (y)                  object
Station Name                  object
Climate ID                    object
Date/Time                     object
Year                          object
Month                          int64
Mean Max Temp (°C)            object
Mean Max Temp Flag            object
Mean Min Temp (°C)            object
Mean Min Temp Flag            object
Mean Temp (°C)                object
Mean Temp Flag                object
Extr Max Temp (°C)            object
Extr Max Temp Flag            object
Extr Min Temp (°C)            object
Extr Min Temp Flag            object
Total Rain (mm)               object
Total Rain Flag               object
Total Snow (cm)               object
Total Snow Flag               object
Total Precip (mm)             object
Total Precip Flag             object
Snow Grnd Last Day (cm)       object
Snow Grnd Last Day Flag       object
Dir of Max Gust (10's deg)    object
Dir of Max Gust Flag          object
Spd of Max Gust (km/h)        object
Spd of Max Gust Flag          object
dtype: object

In [17]:
new_temp_columns = ['Year','Month','Mean Temp (°C)', 'Date/Time']

# Display df with columns
df_temp = pandas_df[new_temp_columns]


df_temp

     Year  Month Mean Temp (°C) Date/Time
0    1937      1           None   1937-01
1    1937      2           None   1937-02
2    1937      3           None   1937-03
3    1937      4           None   1937-04
4    1937      5           None   1937-05
..    ...    ...            ...       ...
913  2013      2           -4.6   2013-02
914  2013      3            0.1   2013-03
915  2013      4            6.0   2013-04
916  2013      5           15.2   2013-05
917  2013      6           16.5   2013-06

[918 rows x 4 columns]

In [18]:
# Create a dictory that maps that month names to the month numbers 
month_map = {1: 'JAN',
             2: 'FEB',
             3: 'MAR',
             4: 'APR',
             5: 'MAY',
             6: 'JUN',
             7: 'JUL',
             8: 'AUG',
             9: 'SEP',
             10:'OCT',
             11:'NOV',
             12:'DEC'}

df_temp['Month'] = df_temp['Month'].map(month_map)

df_temp

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7523/1768052942.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Month'] = df_temp['Month'].map(month_map)

     Year Month Mean Temp (°C) Date/Time
0    1937   JAN           None   1937-01
1    1937   FEB           None   1937-02
2    1937   MAR           None   1937-03
3    1937   APR           None   1937-04
4    1937   MAY           None   1937-05
..    ...   ...            ...       ...
913  2013   FEB           -4.6   2013-02
914  2013   MAR            0.1   2013-03
915  2013   APR            6.0   2013-04
916  2013   MAY           15.2   2013-05
917  2013   JUN           16.5   2013-06

[918 rows x 4 columns]

In [19]:
# Drop duplicated rows
df_clean_temp = df_temp.drop_duplicates()

# Drop rows with missing values
df_clean_temp = df_temp.dropna()

#Drop index 
df_clean_temp.reset_index(drop= True)

df_clean_temp

     Year Month Mean Temp (°C) Date/Time
10   1937   NOV            3.3   1937-11
11   1937   DEC           -4.4   1937-12
12   1938   JAN           -7.2   1938-01
13   1938   FEB           -3.7   1938-02
14   1938   MAR            1.4   1938-03
..    ...   ...            ...       ...
913  2013   FEB           -4.6   2013-02
914  2013   MAR            0.1   2013-03
915  2013   APR            6.0   2013-04
916  2013   MAY           15.2   2013-05
917  2013   JUN           16.5   2013-06

[904 rows x 4 columns]

In [20]:
#year to int 
#mean temp to float

In [21]:
df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7523/2386592659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Year'] = df_clean_temp['Year'].astype(int)

In [22]:
df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

/var/folders/3b/cl89mzy547n81hm0vjss6q9w0000gn/T/ipykernel_7523/3587410896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_temp['Mean Temp (°C)'] = df_clean_temp['Mean Temp (°C)'].astype(float)

In [23]:
df_clean_temp.dtypes

Year                int64
Month              object
Mean Temp (°C)    float64
Date/Time          object
dtype: object

In [24]:
df_clean_temp

     Year Month  Mean Temp (°C) Date/Time
10   1937   NOV             3.3   1937-11
11   1937   DEC            -4.4   1937-12
12   1938   JAN            -7.2   1938-01
13   1938   FEB            -3.7   1938-02
14   1938   MAR             1.4   1938-03
..    ...   ...             ...       ...
913  2013   FEB            -4.6   2013-02
914  2013   MAR             0.1   2013-03
915  2013   APR             6.0   2013-04
916  2013   MAY            15.2   2013-05
917  2013   JUN            16.5   2013-06

[904 rows x 4 columns]

In [26]:
#save output 
df_temp.to_csv("Resources/Cleaned_Pearson.csv")